<h3>Registered Users</h3>
<p>
User data on UseGalaxy.org.au (i.e. datasets, histories) will be available for a
minimum of 13 weeks (90 days) as long as they are not deleted by the user. Once
marked as deleted the datasets will be permanently removed within 10 days. If
the user "purges" the dataset in the Galaxy, it will be removed immediately,
permanently.</p>
<p>
Registered users are allocated a 100GB disk quota to begin with. Registered
users with an Australian research institute are allocated 600GB.</p>
<p>
An extended quota can be <a href="https://docs.google.com/forms/d/e/1FAIpQLSeiw6ajmkezLCwbXc3OFQEU3Ai9hGnBd967u9YbQ8ANPgvatA/viewform" target="_blank">requested</a>
for a limited time period in special cases. </p>

<h3>Unregistered Users</h3>
<p>
Processed data will only be accessible during one browser session, using a
cookie to identify your data. This cookie is not used for any other purposes
(e.g. tracking or analytics.)</p>
<p>
If UseGalaxy.org.au service is not accessed for 10 days, those datasets will be
permanently deleted.</p>

<h3>Full Data Policy</h3>
<p>
<a href="/galaxy/data-policy.html">Our full data policy can be found here.</a>
</p>
<p>
Instructions for Downloading and deletion of data from Galaxy Australia can be found here: <a href="https://galaxy-au-training.github.io/tutorials/modules/galaxy-data/">https://galaxy-au-training.github.io/tutorials/modules/galaxy-data/</a>
</p>
