<div class="item carousel-item jumbotron">
	<h2 class="display-3">UseGalaxy.org.au: The Australian Galaxy instance</h2>
	<div class="col-md-6" style="padding: 1em;">
		<ul>
		<li><i class="fa fa-cogs"></i> Thousands of documented and maintained tools</li>
		<li><i class="fa fa-user-plus"></i> Free to use</li>
		<li><i class="fa fa-hdd-o"></i> 600 GB for Australian based users (100GB for others)</li>
		<li><i class="fa fa-graduation-cap"></i> On demand training capacity</li>
		</ul>
		<p>And even more!</p>

		<!-- {% include button.html url="https://usegalaxy.org.au" text="Try it on UseGalaxy.org.au" %} -->

	</div>
	<div class="col-md-6">
		<img src="/assets/media/Galaxy_australia_white.png" />
	</div>
</div>
