<div class="item carousel-item jumbotron">
    <div class="container">
        <h3>Maintained by:</h3>
        <div class="row eu-image-box">
            <a href="https://www.qcif.edu.au/" target="_blank">
                <img src="/assets/media/QFAB_logo_2020.png" class="img-responsive eu-image" alt="QCIF Logo" />
            </a>
            <a href="https://melbournebioinformatics.org.au/" target="_blank">
                <img src="/assets/media/melbourne_bio.png" class="img-responsive eu-image" alt="Melbourne Bioinformatics Logo" />
            </a>
            <a href="https://rcc.uq.edu.au/" target="_blank">
                <img src="/assets/media/uq_rcc_logo.png" class="img-responsive eu-image" alt="UQ RCC Logo" />
            </a>
        </div>

        <h3>Sponsors/Funding:</h3>
        <div class="row eu-image-box">
            <a href="https://bioplatforms.com" target="_blank">
                <img src="/assets/media/BioplatformsAustralia.png" class="img-responsive eu-image" alt="Bioplatforms Logo" />
            </a>
            <a href="https://ardc.edu.au" target="_blank">
                <img src="/assets/media/ardc_built-1.png" class="img-responsive eu-image" alt="ARDC Logo" />
            </a>
            <a href="https://www.biocommons.org.au/" target="_blank" style="max-width:22%">
                <img src="/assets/media/AustralianBiocommons.png" class="img-responsive eu-image" alt="Biocommons Logo" />
            </a>
            <a href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris" target="_blank">
                <img src="/assets/media/ncris.png" class="img-responsive eu-image" alt="NCRIS Logo" />
            </a>
        </div>
    </div>
</div>