<div class="item carousel-item jumbotron">
  <h2 class="display-3">Service Administration</h2>
  <div class="col-md-6">
  <p>
    Galaxy Australia is administered by a team of academics from the Universities of Queensland and Melbourne. We work very closely with our colleagues from Galaxy Europe and the U.S. Galaxy Team. Galaxy Australia is a part of the usegalaxy.* ecosystem of shared resources and collaborations.
    <br/>
    <br/>
    We make <i>every effort</i> to provide high uptime.
    <br/>
    Sometimes we are able to achieve this, sometimes due to factors outside
    our control, our service is temporarily inaccessible.
    <br/>
    If you wish to request and extra/new tool or reference dataset on our service, please use the button below.
  </p>
  {% include button.html url="https://docs.google.com/forms/d/e/1FAIpQLSdXuarvkzFA5kRqoCfO8uiUGAB0PplfR4yvAfpCPSpdMcehmA/viewform" text="Request a tool or dataset" %}
  </div>

  <div class="col-md-6">
    <a href="/people" target="_blank">
        <img src="/assets/media/people_page.png" />
    </a>
  </div>

</div>
