<div class="item carousel-item jumbotron">
  <h2 class="display-3">Acknowledgements</h2>
  <p>We are aiming to maintain high competency and provide high quality data analysis
    services to all our Galaxy users.</p>

    <p>Therefore we request that you acknowledge this service by including the
    members of the Australian Galaxy Team as co-authors if they have made a
    significant intellectual and/or organizational contribution to the work
    described (conceptualization, design, data analysis, data interpretation
    and/or input into drafting, revising or writing any portion of the manuscript).</p>

    <p>If you use Galaxy Australia in your research, please cite the GVL paper:</p>
    <blockquote>
        <p>Afgan E, Sloggett C, Goonasekera N, Makunin I, Benson D, Crowe M, Gladman S, Kowsar Y, Pheasant M, Horst R, Lonie A. Genomics Virtual Laboratory: A Practical Bioinformatics Workbench for the Cloud. PLoS One. 2015 Oct 26;10(10):e0140829.
        </p>
    </blockquote>


    <p>Additional funding of projects and/or provision of material expenses are welcome as well, to help
    support our growing Galaxy community in Australia.</p>
  <p style="padding-bottom: 3em" />
</div>
