<div class="item carousel-item jumbotron">
  <h2 class="display-3">Our Data Retention Policy</h2>
  <p>
    {% include data-policy-summary.html %}
  </p>
  {% include button.html url="https://docs.google.com/forms/d/e/1FAIpQLSeiw6ajmkezLCwbXc3OFQEU3Ai9hGnBd967u9YbQ8ANPgvatA/viewform" text="Data Quota Request" %}
  {% include button.html url="https://galaxy-au-training.github.io/tutorials/modules/galaxy-data/" text="Data Download and Deletion Instructions" %}
  {% include button.html url="/galaxy/data-policy.html" text="Full Data Policy" %}
  <p style="padding-bottom: 3em" />
</div>
