<div>
    <h2><a href="/galaxy">Quick Links</a></h2>
    <p>
    <div class="col-md-4">
        <center>
            {% include button.html url="https://training.galaxyproject.org" text="Galaxy Training Material" %}
        </center>
    </div>
    <div class="col-md-4">
        <center>
            {% include button.html url="https://request.usegalaxy.org.au" text="Request Tool/Dataset" %}
        </center>
    </div>
    <div class="col-md-4">
        <center>
            {% include button.html url="https://docs.google.com/forms/d/e/1FAIpQLSeiw6ajmkezLCwbXc3OFQEU3Ai9hGnBd967u9YbQ8ANPgvatA/viewform" text="Request Data Quota" %}
        </center>
    </div>
<!--    <div class="col-md-3">
        <center>
            {% include button.html url="https://docs.google.com/forms/d/e/1FAIpQLSeiw6ajmkezLCwbXc3OFQEU3Ai9hGnBd967u9YbQ8ANPgvatA/viewform" text="Full User Policy" %}
        </center>
    </div> -->
</div>
